<div class="dropdown nav navbar-nav navbar-right user-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{user.email}}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="/users/account/">Your Account</a></li>
        
        <li role="separator" class="divider"></li-->
        <li><a href="/users/logout/">Log out</a></li>
    </ul>
</div>