{{#section 'head'}}
    <link rel="stylesheet" href="/styles/auth.css">
{{/section}}

<div class="container">
  <form method="POST" action="/users/login/" class="form-signin">
    <h2 class="form-signin-heading">Please log in</h2> 
    
    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
    
    <label for="inputUsername" class="sr-only">Email</label> 
    <input type="text" id="inputUsername" name="email" class="form-control" placeholder="Email" value="flanderland@gmail.com" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" value="flandudnO0" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
</div>